<div class='row'>
  <%= form_tag(url, method: :get, class: 'form-horizontal col-sm-6 offset-md-3') do %>
    <div class='row'>
      <%= text_field_tag :name, nil, placeholder: 'Search a client...', class: 'form-horizontal col-sm-9', required:true %>
      <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
        <i class='fa fa-search'></i>
      <% end %>
    </div>
  <% end %>
</div>
